<h1>hello from the EJS </h1>
<h3 style="color: red;">welcome to <%- college %></h3>
<% let name="<b>Dixit</b>" ;%>
    <p>
        <%= name %>
            <%# this is comment : without html %>
    </p>
    <p><%- name %></p>
    <%# this is comment : with html %>

        <%# this is comment %>
            <%% this is EJS %>