<form action="/result" method="post">
    Student Name:<input type="text" name="sname" id=""><br>
    Marks: <input type="number" name="mark" id=""><br>
    <input type="submit" value="Submit">
</form>